version: "3.9"

services:
  frontend:
    build: ../app/frontend
    ports:
      - "8080:8080"
    depends_on:
      - backend

  backend:
    build: ../app/backend
    ports:
      - "5000:5000"
    environment:
      - MONGO_URL=mongodb://mongo:27017/devops-db
    depends_on:
      - mongo

  mongo:
    image: mongo:6.0
    container_name: mongo
    environment:
      MONGO_INITDB_ROOT_USERNAME: admin
      MONGO_INITDB_ROOT_PASSWORD: qwerty
    ports:
      - "27017:27017"
    volumes:
      - mongo-data:/data/db

volumes:
  mongo-data:
